.main {
  &__post {
    display: flex;
    flex-flow: column wrap;
    align-items: start;
    gap: 0.7rem;
    margin: 0 auto;

    @media (min-width: 768px) {
      max-width: 730px;
    }

    &__category {
      color: $lightblue;
      text-transform: capitalize;
    }

    &__text {
      color: $greyish-brown;
      padding-bottom: 1rem;
    }

    .button {
      background: white;
      border: medium solid $c;

      &__a {
        color: $c;
        @media (min-width: 768px) {
          padding: 0.6rem 4rem;
        }

        &:hover {
          color: white;
          transition: color ease 0.5s;
        }
      }

      &:hover {
        background: $c;
        transition: background ease 0.5s;
      }
    }
  }
}
