.main {
  &__post {
    display: flex;
    flex-flow: column wrap;
    align-items: start;
    gap: 1rem;

    @media (min-width: 768px) {
      max-width: 730px;
      margin: 0 auto;
    }

    &__category {
      color: $lightblue;
      text-transform: capitalize;
    }

    &__text {
      color: $greyish-brown;
    }

    .button {
      border: medium solid $c;

      &__a {
        color: $c;
      }
    }
  }
}
