<footer class="footer">
  <button class="button button--scroll">
    <a class="button__a" href="#main"></a>
  </button>

  <nav class="footer__nav">
    <ul class="footer__nav--menu">
      <li class="nav__li"><a class="link" href="#" title="Articles">Articles</a></li>
      <li class="nav__li"><a class="link" href="#" title="Books">Books</a></li>
      <li class="nav__li"><a class="link" href="#" title="Events">Events</a></li>
      <li class="nav__li"><a class="link" href="#" title="Reasons">Reasons</a></li>
      <li class="nav__li"><a class="link" href="#" title="Tips">Tips</a></li>
    </ul>

  </nav>
  <nav class="footer__nav">
    <ul class="footer__nav--menu">
      <li class="nav__li"><a class="link" href="#" title="Twitter">Twitter</a></li>
      <li class="nav__li"><a class="link" href="#" title="Instagram">Instagram</a></li>
      <li class="nav__li"><a class="link" href="#" title="Mastodon Oficial">Mastodon.social</a></li>
    </ul>

  </nav>



  <p class="footer__copyright">&copy; 2021
    <small>
      we &#10084 components
    </small>
  </p>
</footer>