<main class="main">

  <article class="main__post">
    <small class="main__post__category">Insomnia tips</small>
    <h2>Looking through a window</h2>
    <p class="main__post__text text">Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex
      diam
      nec lectus. Vivamus semper
      sodales rutrum.</p>
    <a class="button" href="#">Go</a>
  </article>

  <section id="main__section" class="main__section">
    <h2 class="main__section__h2">3 reasons to purchase</h2>
    <article class="main__section__article">
      <h3>Ut sed metus</h3>
      <p class="text">Lorem ipsum dolor sit amet, consectetur.</p>
    </article>
    <article class="main__section__article">
      <h3>Curabitur ac erat</h3>
      <p class="text">Mauris mattis urna quis lorem molestie.</p>
    </article>
    <article class="main__section__article">
      <h3>Morbi dictum</h3>
      <p class="text">Aliquam in dolor et dolor tincidunt.</p>
    </article>
    <a class="button" href="#">More reasons</a>

  </section>

</main>