:root {
  font-family: $font-main;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4 {
  font-family: $font-h;
}

.button {
  border: none;
  min-height: 44px;
  min-width: 44px;

  &__a {
    padding: 0.8rem 1.3rem;
    border-radius: 50%;
  }
}
