:root {
  font-family: $font-main;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4 {
  font-family: $font-h;
}

h2 {
  text-transform: capitalize;
}

.button {
  border: none;
  min-height: 44px;
  min-width: 44px;
  border-radius: 2rem;

  &__a {
    padding: 0.8rem 1.3rem;
  }
}
