:root {
  font-family: $font-main;
  font-size: 16px;
  scroll-behavior: smooth;
}

h1,
h2,
h3 {
  font-family: $font-h;
}

h2 {
  text-transform: capitalize;
}

h3,
.text {
  line-height: 1.7rem;
}

.button {
  background: white;
  border: none;
  min-height: 44px;
  min-width: 44px;
  border-radius: 2rem;

  &__a {
    padding: 0.8rem 1.3rem;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
  }
}
