// fonts
$font-main: "Roboto", sans-serif;
$font-h: "Roboto Slab", serif;

// colors
$c: #f26002;
$cerulean: #0271bc;
$dark-grey-blue: #304268;
$greyish-brown: #4a4a4a;
$ice-blue: #eff9ff;
$k-50: rgba(0, 0, 0, 0.5);
$lightblue: #8ccbea;
