.footer {
  background: $dark-grey-blue;
  color: $ice-blue;
  padding: 3rem;
  text-align: center;

  display: flex;
  flex-flow: column wrap;
  align-content: center;
  gap: 2rem;

  &__button--scroll {
    background: $ice-blue url(../images/ico-arrow.svg) center no-repeat;
    border-radius: 50%;

    position: absolute;
    transform: translate(0, -70px);
  }

  &__nav {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    gap: 2rem;

    text-transform: uppercase;

    &--menu {
      display: flex;
      flex-flow: column wrap;
      gap: 1rem;

      .link {
        color: $ice-blue;
        padding: 0.2rem 1.2rem;
      }
    }
  }
}
