.footer {
  background: $dark-grey-blue;
  color: white;
  padding: 3rem;
  display: flex;
  flex-flow: column wrap;
  align-items: center;

  .button--scroll {
    background: white url(../images/ico-arrow.svg) center no-repeat;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.8);
    position: absolute;
    transform: translate(0, -70px);
  }

  &__wrapper {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    gap: 3rem;
    text-align: center;

    @media (min-width: 768px) {
      gap: 4rem;
      text-align: left;
      flex-flow: row wrap;
      justify-content: space-evenly;
    }
  }

  &__nav,
  &__copyright {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    gap: 3rem;
  }

  &__nav {
    text-transform: uppercase;

    &--menu {
      display: flex;
      flex-flow: column wrap;
      gap: 1rem;

      .link {
        color: white;
        padding: 0.2rem 1.2rem;
      }
    }
  }

  &__copyright {
    gap: 1rem;

    @media (min-width: 768px) {
      order: -1;
    }
  }
}
