.header {
  background: url(../images/cover.jpg) center top no-repeat;
  background-size: cover;
  color: $ice-blue;
  height: 100vh;
  text-align: center;
  padding: 3rem;

  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: end;
  gap: 1.5rem;

  &__title {
    font-size: 42px;
  }

  &__menu {
    background: $cerulean url(../images/ico-menu.svg) center no-repeat;
    background-size: 45%;

    position: fixed;
    top: 0;
    left: 0;
  }

  &__button--scroll {
    background: $ice-blue url(../images/ico-scroll-down.svg) center 18px
      no-repeat;
    border-radius: 50%;
  }
}
