.header {
  background: url(../images/cover.jpg) center top no-repeat;
  background-size: cover;
  color: $ice-blue;
  height: 100vh;
  text-align: center;
  padding: 3rem 0;

  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: end;
  gap: 1.5rem;

  &__title {
    font-size: 12vw;
    text-transform: uppercase;

    @media (min-width: 768px) {
      font-size: 80px;
      width: 70%;
    }
    @media (min-width: 1200px) {
      font-size: 100px;
      width: 60%;
    }
  }

  &__claim {
    @media (min-width: 768px) {
      font-size: 1.6rem;
    }
  }

  &__menu {
    background: $cerulean url(../images/ico-menu.svg) center no-repeat;
    background-size: 45%;
    border-radius: 0;

    position: fixed;
    top: 0;
    left: 0;
  }

  &__button--scroll {
    background: white url(../images/ico-scroll-down.svg) center 18px no-repeat;
  }

  @media (min-width: 1200px) {
    padding: 1rem 0;
  }
}
