.main {
  &__post,
  &__section {
    padding: 3rem 1.5rem;
  }

  &__section {
    background: $ice-blue;
    padding-bottom: 4rem;

    text-align: center;
    display: grid;
    grid-template-rows: 30px repeat(3, 1fr) 40px;
    gap: 3rem;
    justify-items: center;

    &__article {
      width: 60%;
    }

    .button {
      background: $c;

      &__a {
        color: white;
      }
    }
  }
}
